Repository hyperledger/fabric, pull requests merged in 2020-07, with the labels that each got.

#1569 Changes for i18n
  docs/Pipfile.lock
  docs/source/CONTRIBUTING.rst
  docs/source/advice_for_writers.md
  docs/source/docs_guide.md
  docs/source/international_languages.md
Labels: doc-merge, docs

#1571 Typos on i18n pages
  docs/source/advice_for_writers.md
  docs/source/international_languages.md
Labels: doc-merge, docs

#1573 Simple Typo fix
  docs/source/test_network.md
Labels: doc-merge

#1509 [FAB-18041] Add Node.js to CC as external service
  docs/source/cc_service.md
Labels: docs

#1583 Advice for translators, PRs and tools
  docs/source/advice_for_writers.md
  docs/source/docs_guide.md
  docs/source/international_languages.md
Labels: doc-merge, docs

#1591 Add LTS release status to What's New doc
  docs/source/whatsnew.rst
Labels: doc-merge, docs

#1604 Add link to Use a CA to deployment guide
  docs/source/deployment_guide_overview.rst
Labels: docs

#1605 Update "Using the Fabric Test network" tutorial
  docs/source/test_network.md
Labels: docs

#1610 Update "Deploying a smart contract" tutorial.
  docs/source/deploy_chaincode.md
Labels: docs

#1613 Fix international language make html instructions
  docs/source/docs_guide.md
Labels: doc-merge, docs

#1631 Fix: Missing addToWallet.js in ls command output
  docs/source/tutorial/commercial_paper.md
Labels: doc-merge

#1636 Update secured asset transfer to use deployCC script
  docs/source/secured_private_asset_transfer_tutorial.md
Labels: doc-merge, docs

#1640 Update images to remove reference to 'marble' for new samples
  docs/source/transfer_assets_1.png
  docs/source/transfer_assets_2.png
  docs/source/transfer_assets_3.png
Labels: doc-merge, docs

#1644 Fix link in Develop apps doc
  docs/source/developapps/application.md
Labels: doc-merge, docs

#1641 Add source .pptx for secured-asset-transfer to source images folder
  docs/source/images/transfer_assets_images.pptx
Labels: doc-merge, docs
