Repository hyperledger/fabric, pull requests merged in 2020-02, with the labels that each got.

#619 Fix missed merge conflicts
  docs/source/chaincode4ade.rst
  docs/source/developapps/transactioncontext.md
Labels: doc-merge

#617 Remove Fabric functionalities topic
  docs/source/blockchain.rst
  docs/source/functionalities.rst
  docs/source/key_concepts.rst
Labels: doc-merge, docs

#593 [FABCN-378] Update links to chaincode JSDoc
  docs/source/build_network.rst
  docs/source/chaincode4ade.rst
  docs/source/conf.py
  docs/source/developapps/chaincodenamespace.md
  docs/source/developapps/smartcontract.md
  docs/source/getting_started.rst
  docs/source/tutorial/commercial_paper.md
  docs/source/write_first_app.rst
Labels: doc-merge, docs

#494 [FAB-17267] Move add an org to a channel tutorial to test network
  docs/source/channel_update_tutorial.rst
Labels: doc-merge, docs

#623 [FAB-17267] Move add an org to a channel tutorial to test network
  docs/source/channel_update_tutorial.rst
Labels: doc-merge, docs

#624 Remove Fabric functionalities doc
  docs/source/blockchain.rst
  docs/source/functionalities.rst
  docs/source/key_concepts.rst
Labels: doc-merge, docs

#636 Remove 1.x video from 2.0 docs
  docs/source/index.rst
Labels: doc-merge, docs

#635 Remove 1.x video from 2.0 docs
  docs/source/index.rst
Labels: doc-merge, docs

#631 [FAB-16508] Update commercial paper tutorial to match code
  docs/source/tutorial/commercial_paper.md
Labels: docs

#634 [FAB-16681] Fix inconsistencies in the fabcar tutorial
  docs/source/write_first_app.rst
Labels: docs

#643 fix typo
  docs/source/test_network.md
Labels: doc-merge

#633 [FAB-17475] Documentation style guide
  docs/source/index.rst
  docs/source/style_guide.md
Labels: docs

#307 [FAB-16978] MSP Key Concept Updates
  docs/source/membership/ChannelMSP.png
  docs/source/membership/ca-msp-visualization.png
  docs/source/membership/membership.diagram.6.png
  docs/source/membership/membership.md
  docs/source/membership/membership.msp.diagram.png
  docs/source/membership/signcert.png
Labels: docs

#652 Add style guide to contributing.rst
  docs/source/CONTRIBUTING.rst
  docs/source/index.rst
Labels: doc-merge, docs

#648 Update Copyright for 2020
  docs/source/_templates/footer.html
  scripts/functions.sh
Labels: doc-merge, docs

#650 Update Copyright for 2020
  docs/source/_templates/footer.html
  scripts/functions.sh
Labels: doc-merge, docs

#661 Update link to Fabric research paper
  docs/source/whatis.md
Labels: doc-merge

#610 [FAB-14679] Update commercial paper tutorial for new chaincode lifecycle
  docs/source/tutorial/commercial_paper.diagram.commit.png
  docs/source/tutorial/commercial_paper.diagram.install.png
  docs/source/tutorial/commercial_paper.diagram.testnet.png
  docs/source/tutorial/commercial_paper.md
  docs/source/tutorial/commercial_paper.vscode.issue.png
  docs/source/tutorial/commercial_paper.vscode.papercontract.png
  docs/source/tutorial/diagrams.pptx
Labels: doc-merge, docs

#663 [FAB-14679] Update commercial paper tutorial for new chaincode lifecycle
  docs/source/tutorial/commercial_paper.diagram.commit.png
  docs/source/tutorial/commercial_paper.diagram.install.png
  docs/source/tutorial/commercial_paper.diagram.testnet.png
  docs/source/tutorial/commercial_paper.md
  docs/source/tutorial/commercial_paper.vscode.issue.png
  docs/source/tutorial/commercial_paper.vscode.papercontract.png
  docs/source/tutorial/diagrams.pptx
Labels: doc-merge, docs

#668 Miscellaneous updates to doc
  docs/source/Fabric-FAQ.rst
  docs/source/build_network.rst
  docs/source/capabilities_concept.md
  docs/source/cc_launcher.md
  docs/source/chaincode.rst
  docs/source/chaincode4ade.rst
  docs/source/chaincode4noah.md
  docs/source/commands/peerlifecycle.md
  docs/source/config_update.md
  docs/source/configtx.rst
  docs/source/couchdb_as_state_database.rst
  docs/source/developapps/analysis.md
  docs/source/developapps/transactioncontext.md
  docs/source/idemix.rst
  docs/source/install.rst
  docs/source/ledger/ledger.md
  docs/source/membership/membership.md
  docs/source/msp.rst
  docs/source/network/network.md
  docs/source/peer_event_services.rst
  docs/source/pluggable_endorsement_and_validation.rst
  docs/source/policies/policies.md
  docs/source/prereqs.rst
  docs/source/private-data-arch.rst
  docs/source/readwrite.rst
  docs/source/smartcontract/smartcontract.md
  docs/source/style-guides/go-style.rst
  docs/source/test_network.md
  docs/source/tutorial/commercial_paper.md
  docs/wrappers/peer_lifecycle_chaincode_postscript.md
Labels: doc-merge

#554 [FAB-11240] Deployment guide doc
  docs/source/deployment_guide_overview.md
  docs/source/index.rst
Labels: docs

#709 Fix Heading Size in Deployment Doc
  docs/source/deployment_guide_overview.md
Labels: doc-merge

#745 missing word 'you' in test_network.md
  docs/source/test_network.md
Labels: doc-merge

#751 [FAB-17438] CA deployment guide
  docs/source/deployguide/ca-config.md
  docs/source/deployguide/ca-deploy-topology.md
  docs/source/deployguide/ca-tls-flow.png
  docs/source/deployguide/cadeploy.md
  docs/source/deployguide/deployguide.rst
  docs/source/deployment_guide_overview.rst
Labels: docs

#752 Revert "[FAB-17438] CA deployment guide"
  docs/source/deployguide/ca-config.md
  docs/source/deployguide/ca-deploy-topology.md
  docs/source/deployguide/ca-tls-flow.png
  docs/source/deployguide/cadeploy.md
  docs/source/deployguide/deployguide.rst
  docs/source/deployment_guide_overview.rst
Labels: doc-merge
