Repository hyperledger/fabric, pull requests merged in 2020-04, with the labels that each got.

#971 Fix missing export instruction in docs/deploy_chaincode.md
  docs/source/deploy_chaincode.md
Labels: doc-merge, docs

#793 [FAB-10879] Adding instructions for modifying Commands Reference
  docs/README.md
Labels: docs

#974 Add next steps to test net doc
  docs/source/test_network.md
Labels: doc-merge, docs

#976 [FAB-17696] Fixed Wiki Link to Contributor meetings
  docs/source/CONTRIBUTING.rst
Labels: docs

#990 [FAB-17696] Fixed Wiki Link to Contributor meetings
  docs/source/CONTRIBUTING.rst
Labels: doc-merge, docs

#1012 Update chaincode lifecycle topic
  docs/source/chaincode_lifecycle.md
  docs/source/lifecycle/Lifecycle-languages.png
Labels: doc-merge, docs

#972 Update tutorials overview for test network
  docs/source/tutorials.rst
Labels: doc-merge, docs

#1021 Update chaincode lifecycle topic
  docs/source/chaincode_lifecycle.md
  docs/source/lifecycle/Lifecycle-languages.png
Labels: doc-merge, docs

#1023 Update chaincode lifecycle topic
  docs/source/chaincode_lifecycle.md
  docs/source/lifecycle/Lifecycle-languages.png
Labels: docs

#1026 Fix organizations typo
  docs/source/membership/membership.md
Labels: needs-dco-signoff

#1018 Fix typo
  docs/source/deploy_chaincode.md
Labels: docs

#1041 Fix organizations typo
  docs/source/membership/membership.md
Labels: docs

#1042 Fix typo
  docs/source/deploy_chaincode.md
Labels: docs

#1027 [FABB-148, FABB-149]
  docs/source/hsm.md
  docs/source/ops_guide.rst
Labels: docs

#1067 Fix broken link
  docs/source/developapps/connectionprofile.md
Labels: doc-merge, docs

#1011 [FAB-17719] Upgrade docs for 2.1
  docs/source/upgrade.rst
  docs/source/upgrade_to_newest_version.md
Labels: docs

#1101 Fabric v2.1.0 release commit
  CHANGELOG.md
  README.md
  docs/source/install.rst
  docs/source/whatsnew.rst
  scripts/bootstrap.sh
Labels: doc-merge, docs

#1099 [FAB-17732] HSM clarifications
  docs/source/hsm.md
Labels: docs

#1108 [FAB-17732] Cherry-pick to 2.1 branch HSM clarifications
  docs/source/hsm.md
Labels: docs

#1109 [FAB-17732] Cherry-pick to 2.0 HSM clarifications
  docs/source/hsm.md
Labels: docs

#1110 [FAB-17732] Port HSM updates to release-1.4 branch
  docs/source/hsm.md
Labels: docs

#1081 Let users know that anchor peer tx is deprecated
  docs/source/commands/configtxgen.md
  docs/wrappers/configtxgen_postscript.md
Labels: docs

#1132 Fix test net codeblock typo
  docs/source/test_network.md
Labels: doc-merge, docs

#1032 Add upgrade steps and troubleshooting to deployCC tutorial
  docs/source/deploy_chaincode.md
Labels: docs

#1146 Remove typo from commercial paper tutorial
  docs/source/tutorial/commercial_paper.md
Labels: docs

#1171 Replace erroneous double dash
  docs/source/endorsement-policies.rst
Labels: doc-merge

#1127 Doc that Init is not required if you use the contract API
  docs/source/chaincode4ade.rst
  docs/source/chaincode_lifecycle.md
Labels: docs

#1196 Add link to Go contract API to smart contract processing topic
  docs/source/developapps/smartcontract.md
Labels: docs

#1198 Update old link in command wrappers
  docs/source/commands/peernode.md
  docs/wrappers/peer_lifecycle_chaincode_preamble.md
  docs/wrappers/peer_node_postscript.md
Labels: docs

#1190 Minor fixes to commercial paper tutorial doc
  docs/source/tutorial/commercial_paper.md
Labels: doc-merge, docs
