Repository hyperledger/fabric, pull requests merged in 2020-08, with the labels that each got.

#1665 Fix broken link related to FAB-18102
  docs/source/policies/policies.md
Labels: doc-merge, docs

#1676 Update Write Your First Application Tutorial
  docs/source/write_first_app.rst
Labels: doc-merge, docs

#1687 Write Your First App tutorial updates
  docs/source/write_first_app.rst
Labels: doc-merge, docs

#1690 Fix code snippet display
  docs/source/write_first_app.rst
Labels: doc-merge, docs

#1706 Add Raft metrics to Raft config doc
  docs/source/raft_configuration.md
Labels: doc-merge, docs

#1691 Updates to CouchDB doc tutorial
  docs/source/couchdb_tutorial.rst
Labels: doc-merge, docs

#1718 Add transfer images powerpoint to docs
  docs/source/secured_asset_transfer/secured_private_asset_transfer_tutorial.md
  docs/source/secured_asset_transfer/transfer_assets_1.png
  docs/source/secured_asset_transfer/transfer_assets_2.png
  docs/source/secured_asset_transfer/transfer_assets_3.png
  docs/source/secured_asset_transfer/transfer_assets_images.pptx
  docs/source/tutorials.rst
Labels: docs

#1727 Update doc to reflect change in FAB-18163
  docs/source/raft_configuration.md
Labels: doc-merge, docs

#1722 [FAB-18109] Update peer chaincode invoke
  docs/source/commands/peerchaincode.md
  docs/source/write_first_app.rst
  docs/wrappers/peer_chaincode_postscript.md
Labels: docs

#1744 Refactor tutorial to 'Writing Your First Chaincode'
  docs/source/chaincode4ade.rst
Labels: doc-merge, docs

#1762 Revert "Refactor tutorial to 'Writing Your First Chaincode'"
  docs/source/chaincode4ade.rst
Labels: doc-merge, docs

#1765 Refactor tutorial to 'Writing Your First Chaincode'
  docs/source/chaincode4ade.rst
Labels: doc-merge, docs

#1766 Add links for Go and Java sample applications
  docs/source/write_first_app.rst
Labels: doc-merge, docs

#1736 Fix dead links and old links
  README.md
  docs/source/conf.py
  docs/source/docs_guide.md
  docs/source/international_languages.md
  docs/source/policies.rst
  docs/source/private-data-arch.rst
  docs/source/style_guide.md
Labels: docs

#1781 Update test network help text in tutorial
  docs/source/test_network.md
Labels: doc-merge, docs

#1789 Peer deployment guide
  docs/source/deployment_guide_overview.rst
  docs/source/deploypeer/peerchecklist.md
  docs/source/deploypeer/peerdeploy.md
  docs/source/deploypeer/peerplan.md
Labels: doc-merge, docs

#1802 Revert "Peer deployment guide"
  docs/source/deployment_guide_overview.rst
  docs/source/deploypeer/peerchecklist.md
  docs/source/deploypeer/peerdeploy.md
  docs/source/deploypeer/peerplan.md
Labels: doc-merge

#1823 Document the doc-merge label
  docs/source/docs_guide.md
Labels: doc-merge, docs
