Repository hyperledger/fabric, pull requests merged in 2020-05, with the labels that each got.

#1249 [FAB-17438] Add links to CA deployment Guide from Fabric Deployment Guide
  docs/source/deployment_guide_overview.rst
Labels: doc-merge, docs

#1250 Fix misleading doc statement
  docs/source/kafka_raft_migration.md
Labels: doc-merge, docs

#1267 Replace link to removed topic with link to relavent image
  docs/source/txflow.rst
Labels: docs

#1205 Merge first component of create channel tutorial
  docs/source/create_channel/create_channel.md
  docs/source/tutorials.rst
Labels: doc-merge, docs

#1277 Remove adding PWD to path in tutorials
  docs/source/channel_update_tutorial.rst
  docs/source/couchdb_tutorial.rst
  docs/source/create_channel/create_channel.md
  docs/source/deploy_chaincode.md
  docs/source/private_data_tutorial.rst
  docs/source/test_network.md
Labels: docs

#1275 Cherry pick test network tutorial improvements to 2.1
  docs/source/test_network.md
Labels: doc-merge, docs

#1241 [FAB-17865] Update fabric upgrade doc for dropping CouchDB
  docs/source/upgrade_to_newest_version.md
Labels: docs

#1284 Add export to deploy CC tutorial
  docs/source/deploy_chaincode.md
Labels: doc-merge, docs

#1299 [FAB-17918]Fix the installed binary list in the document
  docs/source/install.rst
Labels: doc-merge

#1302 fix test network docs typo
  docs/source/test_network.md
Labels: doc-merge, docs

#1303 Fix script help text in the test network document
  docs/source/test_network.md
Labels: doc-merge, docs

#1120 Update Prereqs for Fabric users
  docs/README.md
  docs/source/dev-setup/devenv.rst
  docs/source/getting_started.rst
  docs/source/install.rst
  docs/source/prereqs.rst
  docs/source/tutorial/commercial_paper.md
  docs/source/write_first_app.rst
Labels: docs

#1313 Cherry-pick prereqs
  docs/README.md
  docs/source/dev-setup/devenv.rst
  docs/source/getting_started.rst
  docs/source/install.rst
  docs/source/prereqs.rst
  docs/source/tutorial/commercial_paper.md
  docs/source/write_first_app.rst
Labels: doc-merge, docs

#1314 Cherry-pick prereqs
  docs/README.md
  docs/source/dev-setup/devenv.rst
  docs/source/getting_started.rst
  docs/source/install.rst
  docs/source/prereqs.rst
  docs/source/tutorial/commercial_paper.md
  docs/source/write_first_app.rst
Labels: doc-merge, docs

#1202 Update commercial paper doc to use enrollUser.js
  docs/source/tutorial/commercial_paper.diagram.testnet.png
  docs/source/tutorial/commercial_paper.md
  docs/source/tutorial/diagrams.pptx
Labels: doc-merge, docs
