Repository hyperledger/fabric, pull requests merged in 2020-10, with the labels that each got.

#1966 Fix table width issue
  docs/source/_static/css/custom.css
Labels: docs

#1704 [FAB-18111] Add docs for DevMode using new lifecycle
  docs/source/peer-chaincode-devmode.md
  docs/source/tutorials.rst
Labels: docs

#1970 Update devmode doc to note TLS must be disabled (release-1.4)
  docs/source/peer-chaincode-devmode.rst
Labels: doc-merge

#1960 Private data edits
  docs/source/couchdb_tutorial.rst
  docs/source/private_data_tutorial.rst
Labels: docs

#1977 Fix chaincode lifecycle tutorial invoke
  docs/source/deploy_chaincode.md
Labels: doc-merge, docs

#1993 Add Troubleshooting topic to Test Network for Docker Desktop setting
  docs/source/test_network.md
Labels: docs

#1983 Cherry pick private data tutorial rebase
  docs/source/private_data_tutorial.rst
Labels: docs

#1984 Update help text in test net tutorial
  docs/source/test_network.md
Labels: docs

#1803 Peer deployment guide
  docs/source/deployment_guide_overview.rst
  docs/source/deploypeer/peerchecklist.md
  docs/source/deploypeer/peerdeploy.md
  docs/source/deploypeer/peerplan.md
Labels: docs

#2015 FAB-18198 Ch.Part.API: Restructure registrar init
  orderer/common/multichannel/registrar.go
Labels: channel-participation-api

#2020 Remove common name from private data doc
  docs/source/private_data_tutorial.rst
Labels: docs

#2023 FAB-18276 Ch.Part.API: extractSystemChannel must skip empty ledger
  orderer/common/server/main.go
  orderer/common/server/main_test.go
Labels: channel-participation-api

#2026 FAB-18108 Ch.Part.API: simplify follower.Chain flow control
  orderer/common/follower/follower_chain.go
  orderer/common/follower/follower_chain_test.go
Labels: channel-participation-api

#1952 [FAB-18082] Make RemoveChannel crash fault tolerant
  common/ledger/blockledger/fileledger/factory.go
  common/ledger/blockledger/fileledger/factory_test.go
  orderer/common/filerepo/filerepo.go
  orderer/common/filerepo/filerepo_test.go
Labels: channel-participation-api

#1958 [FAB-17953] Add integration tests for snapshot feature (leveldb, no pvtdata)
  integration/chaincode/marbles/marbles_chaincode.go
  integration/ledger/couchdb_indexes_test.go
  integration/ledger/snapshot_test.go
  integration/nwo/commands/peer.go
  integration/nwo/network.go
Labels: ledger-snapshot

#1939 Expose new Admin endpoint on orderer for the channel participation API
  common/fabhttp/fabhttp_suite_test.go
  common/fabhttp/fakes/logger.go
  common/fabhttp/server.go
  common/fabhttp/server_test.go
  common/fabhttp/tls.go
  common/fabhttp/tls_test.go
  core/operations/system.go
  core/operations/system_test.go
  integration/channelparticipation/channel_participation.go
  integration/nwo/network.go
  integration/nwo/orderer_template.go
  integration/raft/channel_participation_test.go
  internal/peer/node/start.go
  orderer/common/localconfig/config.go
  orderer/common/server/main.go
  sampleconfig/orderer.yaml
Labels: channel-participation-api

#2044 Return errors in rollback/rebuild commands when using snapshots
  core/ledger/kvledger/rebuild_dbs.go
  core/ledger/kvledger/reset.go
  core/ledger/kvledger/rollback.go
  core/ledger/kvledger/tests/reset_test.go
  core/ledger/kvledger/tests/rollback_test.go
  core/ledger/kvledger/tests/sanpshot_reset_rollback_rebuild_test.go
  core/ledger/kvledger/upgrade_dbs.go
  core/ledger/kvledger/upgrade_dbs_test.go
  internal/peer/node/rebuild_dbs_test.go
  internal/peer/node/rollback_test.go
  internal/peer/node/upgrade_dbs_test.go
Labels: ledger-snapshot

#2014 [FAB-18130] Chan.Part.API: IT creating the system channel with a genesis block
  integration/raft/channel_participation_test.go
Labels: channel-participation-api

#2055 Chan.Part.API: Cleanup system channel w/ genesis block IT
  integration/raft/channel_participation_test.go
Labels: channel-participation-api

#2004 Add doc files for peer snapshot commands
  docs/source/command_ref.rst
  docs/source/commands/peerchannel.md
  docs/source/commands/peerlifecycle.md
  docs/source/commands/peersnapshot.md
  docs/wrappers/peer_channel_postscript.md
  docs/wrappers/peer_channel_preamble.md
  docs/wrappers/peer_snapshot_postscript.md
  docs/wrappers/peer_snapshot_preamble.md
  scripts/generateHelpDocs.sh
Labels: docs, ledger-snapshot

#2053 [FAB-17800] Update reset/rollback/rebuild/upgrade_dbs cmd descriptions for snapshot
  internal/peer/node/rebuild_dbs.go
  internal/peer/node/reset.go
  internal/peer/node/rollback.go
  internal/peer/node/upgrade_dbs.go
Labels: docs, ledger-snapshot

#2054 Chan.Part.API: config-tracker IT
  integration/raft/channel_participation_test.go
Labels: channel-participation-api

#2050 FAB-18291 Ch.Part.API: BlockPuller that can be stopped, improve follower Halt() responsiveness
  orderer/common/cluster/deliver.go
  orderer/common/cluster/deliver_test.go
  orderer/common/cluster/replication.go
  orderer/common/follower/block_puller.go
  orderer/common/follower/block_puller_test.go
  orderer/common/follower/follower_chain.go
  orderer/common/follower/mocks/block_puller_factory.go
  orderer/consensus/etcdraft/blockpuller.go
Labels: channel-participation-api

#2059 [FAB-17800] Update peer node command ref doc
  docs/source/commands/peernode.md
  docs/wrappers/peer_node_postscript.md
  docs/wrappers/peer_node_preamble.md
  internal/peer/node/rebuild_dbs.go
  internal/peer/node/upgrade_dbs.go
  scripts/generateHelpDocs.sh
Labels: ledger-snapshot

#2052 [FAB-17953] IT: verify pvtdata reconciliation when bootstrapping by snapshot
  integration/ledger/snapshot_test.go
Labels: ledger-snapshot

#2043 Peer snapshot documentation
  docs/source/ops_guide.rst
  docs/source/peer_ledger_snapshot.md
Labels: docs, ledger-snapshot
