Repository hyperledger/fabric, pull requests merged in 2020-12, with the labels that each got.

#2165 Update endorsementpolicies.md
  docs/source/developapps/endorsementpolicies.md
Labels: doc-merge, docs

#2148 Orderer deploy guide edits for participation API
  docs/source/create_channel/create_channel_participation.md
  docs/source/deployment_guide_overview.rst
  docs/source/deployorderer/ordererchecklist.md
  docs/source/deployorderer/ordererdeploy.md
  docs/source/deployorderer/ordererplan.md
Labels: docs

#2179 Update README.md to include link to Fabric v2.3 documentation
  README.md
Labels: doc-merge, docs

#2186 Fix name of CHANNEL_CONFIG_BLOCK in the Channel participation API tut…
  docs/source/create_channel/create_channel_participation.md
Labels: docs

#2175 Edits to orderer and capabilities concept for participation API
  docs/source/capabilities_concept.md
  docs/source/orderer/ordering_service.md
Labels: doc-merge, docs

#2194 More doc edits for system channel removal
  docs/source/enable_cc_lifecycle.md
  docs/source/network/network.md
  docs/source/ops_guide.rst
  docs/source/policies/FabricPolicyHierarchy-1.png
  docs/source/policies/FabricPolicyHierarchy-2.png
  docs/source/policies/FabricPolicyHierarchy-3.png
  docs/source/policies/FabricPolicyHierarchy-4.png
  docs/source/policies/policies.md
  docs/source/upgrade.rst
  docs/source/upgrade_to_newest_version.md
Labels: doc-merge, docs

#2204 Fix unusual dash character in channel participation tutorial
  docs/source/create_channel/create_channel_participation.md
Labels: doc-merge

#2213 Fixed Typo in Documentation
  docs/source/test_network.md
Labels: needs-dco-signoff

#2227 Add Language Argument to DeployCC Calls
  docs/source/couchdb_tutorial.rst
  docs/source/create_channel/create_channel.md
  docs/source/private_data_tutorial.rst
  docs/source/secured_asset_transfer/secured_private_asset_transfer_tutorial.md
Labels: doc-merge, docs
