Repository hyperledger/fabric, pull requests merged in 2020-03, with the labels that each got.

#775 Fixed typo word 'netwowrk' in test_network.md
  docs/source/test_network.md
Labels: doc-merge

#691 Update msp.rst
  docs/source/msp.rst
Labels: doc-merge

#798 fix typo in Anchor Peers
  docs/source/glossary.rst
Labels: doc-merge

#807 Add deprecation notice to BYFN
  docs/source/build_network.rst
Labels: doc-merge, docs

#666 [FAB-17269] Create new deploy a Chaincode tutorial
  docs/source/chaincode4noah.md
  docs/source/deploy_chaincode.md
  docs/source/tutorials.rst
Labels: doc-merge, docs

#810 Cherry pick deployment guide to release-2.0
  docs/source/deployment_guide_overview.rst
  docs/source/index.rst
Labels: doc-merge, docs

#808 Misc updates to test network tutorial
  docs/source/test_network.md
Labels: doc-merge, docs

#809 [FAB-17269] Create new deploy a Chaincode tutorial
  docs/source/chaincode4noah.md
  docs/source/deploy_chaincode.md
  docs/source/tutorials.rst
Labels: doc-merge, docs

#815 Misc updates to test network tutorial
  docs/source/test_network.md
Labels: docs

#817 Move lifecycle tutorial to concept topics
  docs/source/access_control.md
  docs/source/cc_service.md
  docs/source/chaincode.rst
  docs/source/chaincode4ade.rst
  docs/source/chaincode_lifecycle.md
  docs/source/commands/peerlifecycle.md
  docs/source/deploy_chaincode.md
  docs/source/deployment_guide_overview.rst
  docs/source/developapps/application.md
  docs/source/key_concepts.rst
  docs/source/pluggable_endorsement_and_validation.rst
  docs/source/policies/policies.md
  docs/source/smartcontract/smartcontract.md
  docs/source/tutorial/commercial_paper.md
  docs/source/tutorials.rst
  docs/source/upgrade_to_newest_version.md
  docs/source/whatsnew.rst
Labels: docs

#825 Copy MSP Key Concept topic to release 2.0 branch
  docs/source/membership/ChannelMSP.png
  docs/source/membership/ca-msp-visualization.png
  docs/source/membership/membership.diagram.6.png
  docs/source/membership/membership.md
  docs/source/membership/membership.msp.diagram.png
  docs/source/membership/signcert.png
Labels: doc-merge, docs

#831 Add MSP Key concepts topic to release-1.4 branch
  docs/source/membership/ChannelMSP.png
  docs/source/membership/ca-msp-visualization.png
  docs/source/membership/membership.diagram.6.png
  docs/source/membership/membership.md
  docs/source/membership/membership.msp.diagram.png
  docs/source/membership/signcert.png
Labels: doc-merge, docs

#823 Move lifecycle tutorial to concept topics
  docs/source/access_control.md
  docs/source/cc_service.md
  docs/source/chaincode4ade.rst
  docs/source/chaincode_lifecycle.md
  docs/source/commands/peerlifecycle.md
  docs/source/deploy_chaincode.md
  docs/source/deployment_guide_overview.rst
  docs/source/developapps/application.md
  docs/source/key_concepts.rst
  docs/source/pluggable_endorsement_and_validation.rst
  docs/source/policies/policies.md
  docs/source/smartcontract/smartcontract.md
  docs/source/tutorial/commercial_paper.md
  docs/source/tutorials.rst
  docs/source/upgrade_to_newest_version.md
  docs/source/whatsnew.rst
Labels: docs

#886 Cherry pick Remove ref to SDK
  docs/source/chaincode_lifecycle.md
Labels: docs

#888 Add configtx.yaml link to channel update doc release-2.0
  docs/source/config_update.md
Labels: doc-merge, docs

#894 Change link in access control for policies
  docs/source/access_control.md
Labels: doc-merge, docs

#905 Add link to Fabric chaincode lifecycle video
  docs/source/chaincode_lifecycle.md
Labels: doc-merge, docs

#907 Add link to Fabric chaincode lifecycle video
  docs/source/chaincode_lifecycle.md
Labels: doc-merge, docs

#911 Update sample channel config to 2.0 channel
  docs/source/config_update.md
Labels: docs

#916 Update sample channel config to 2.0 channel (#911)
  docs/source/config_update.md
Labels: doc-merge, docs

#913 [FAB-17650] fix incorrect word
  CHANGELOG.md
  common/capabilities/application.go
  docs/source/capabilities_concept.md
  orderer/common/msgprocessor/maintenancefilter_test.go
Labels: docs

#910 Update commercial_paper.md
  docs/source/tutorial/commercial_paper.md
Labels: doc-merge, docs

#941 Update commercial_paper.md
  docs/source/tutorial/commercial_paper.md
Labels: doc-merge, docs

#522 [FAB-17408] Move first app tutorial (fabcar) to test network
  docs/source/understand_fabcar_network.rst
  docs/source/write_first_app.rst
Labels: doc-merge, docs

#915 Add discussion of MSP folder to test net doc
  docs/source/test_network.md
Labels: docs

#950 [FAB-17408] Move first app tutorial (fabcar) to test network
  docs/source/understand_fabcar_network.rst
  docs/source/write_first_app.rst
Labels: doc-merge, docs

#952 Add discussion of MSP folder to test net doc
  docs/source/test_network.md
Labels: doc-merge, docs

#957 Fix code block typo in add org tutorial
  docs/source/channel_update_tutorial.rst
Labels: docs

#961 Fix code block typo in add org tutorial
  docs/source/channel_update_tutorial.rst
Labels: docs

#953 Fix missing export instruction in docs/deploy_chaincode.md
  docs/source/deploy_chaincode.md
Labels: doc-merge, docs
