Repository hyperledger/fabric, pull requests merged in 2020-11, with the labels that each got.

#1907 [FAB-18196] Add Channel Participation CLI
  cmd/osnadmin/main.go
  cmd/osnadmin/main_test.go
  cmd/osnadmin/mocks/channel_management.go
  cmd/osnadmin/osnadmin_suite_test.go
  internal/osnadmin/httpclient.go
  internal/osnadmin/join.go
  internal/osnadmin/list.go
  internal/osnadmin/remove.go
Labels: channel-participation-api

#2027 [FAB-18132] Ch.Part.API: Remove ledger resources asynchronously
  common/ledger/blockledger/fileledger/factory.go
  integration/channelparticipation/channel_participation.go
  integration/e2e/e2e_test.go
  integration/raft/channel_participation_test.go
  orderer/common/channelparticipation/restapi.go
  orderer/common/channelparticipation/restapi_test.go
  orderer/common/multichannel/registrar.go
  orderer/common/multichannel/registrar_test.go
  orderer/common/types/errors.go
Labels: channel-participation-api

#2076 Update configtxgen log messages when creating application channel genesis block
  cmd/configtxgen/main.go
  cmd/configtxgen/main_test.go
  internal/configtxgen/genesisconfig/config.go
  sampleconfig/configtx.yaml
Labels: channel-participation-api

#2083 Ch.Part.API: Allow retry of failed removals
  orderer/common/channelparticipation/restapi.go
  orderer/common/channelparticipation/restapi_test.go
  orderer/common/multichannel/registrar.go
  orderer/common/multichannel/registrar_test.go
Labels: channel-participation-api

#2025 Chan.Part.API: channel participation relation and status metrics
  common/metrics/provider.go
  docs/source/metrics_reference.rst
  orderer/common/channelparticipation/mocks/channel_management.go
  orderer/common/follower/follower_chain.go
  orderer/common/follower/follower_chain_test.go
  orderer/common/follower/mocks/channel_participation_metrics_reporter.go
  orderer/common/multichannel/chainsupport.go
  orderer/common/multichannel/metrics.go
  orderer/common/multichannel/metrics_test.go
  orderer/common/multichannel/mocks/metrics_provider.go
  orderer/common/multichannel/multichannel_suite_test.go
  orderer/common/multichannel/registrar.go
  orderer/common/multichannel/registrar_test.go
  orderer/consensus/etcdraft/consenter.go
  orderer/consensus/etcdraft/consenter_test.go
  orderer/consensus/etcdraft/mocks/chain_manager.go
Labels: channel-participation-api

#2077 osnadmin CLI command reference
  cmd/osnadmin/main.go
  docs/source/command_ref.rst
  docs/source/commands/osnadminchannel.md
  docs/wrappers/osnadmin_channel_postscript.md
  docs/wrappers/osnadmin_channel_preamble.md
  scripts/generateHelpDocs.sh
Labels: channel-participation-api

#2082 Chan.Part.API: join system channel using config block IT
  integration/raft/channel_participation_test.go
Labels: channel-participation-api

#2090 Doc: update channel_update_tutorial.rst with joinbysnapshot
  docs/source/channel_update_tutorial.rst
  docs/source/peer_ledger_snapshot.md
Labels: docs

#2099 Document additional snapshot considerations
  docs/source/peer_ledger_snapshot.md
Labels: doc-merge, docs

#2109 Add snapshots to peer deploy checklist
  docs/source/deploypeer/peerchecklist.md
Labels: docs

#2081 [FAB-18179] Channel Participation API tutorial
  docs/source/create_channel/create_channel.md
  docs/source/create_channel/create_channel_config.md
  docs/source/create_channel/create_channel_overview.rst
  docs/source/create_channel/create_channel_participation.md
  docs/source/create_channel/osnadmin1-3.png
  docs/source/create_channel/osnadmin4.png
Labels: docs

#2127 [FAB-18179] Channel Participation API Tutorial
  docs/source/create_channel/create_channel.md
  docs/source/create_channel/create_channel_config.md
  docs/source/create_channel/create_channel_overview.rst
  docs/source/create_channel/create_channel_participation.md
  docs/source/create_channel/osnadmin1-3.png
  docs/source/create_channel/osnadmin4.png
Labels: docs

#2129 Add persistent volume note to peer deploy guide
  docs/source/deploypeer/peerchecklist.md
Labels: doc-merge, docs

#2080 Deploy production ordering service doc
  docs/source/deployment_guide_overview.rst
  docs/source/deployorderer/ordererchecklist.md
  docs/source/deployorderer/ordererdeploy.md
  docs/source/deployorderer/ordererplan.md
  docs/source/orderer/ordering_service.md
Labels: docs

#2147 Remove reference to first-network
  docs/source/test_network.md
Labels: doc-merge, docs

#2166 remove repeated the
  docs/source/private_data_tutorial.rst
Labels: doc-merge, docs
