Repository hyperledger/fabric, pull requests merged in 2020-01, with the labels that each got.

#495 Remove BYFN reference from private data architecture doc
  docs/source/private-data-arch.rst
Labels: docs

#491 [FAB-17173] Update doc to reflect chaincode starts after commit
  docs/source/chaincode4noah.md
Labels: docs

#474 [FAB-15198] Document peer crash scenario when indexes are not installed
  docs/source/couchdb_as_state_database.rst
Labels: docs

#503 Documentation update: external chaincode and index for db
  docs/source/cc_service.md
Labels: docs

#457 [FAB-17265] Move private data tutorial to use test network
  docs/source/images/SideDB-org1-org2.png
  docs/source/images/SideDB-org1.png
  docs/source/images/SideDB-org2.png
  docs/source/images/SideDBTutorialImages.pptx
  docs/source/private_data_tutorial.rst
Labels: docs

#525 FAB-17410 Updated doc links to latest levels for Fabric 2.0
  docs/source/Fabric-FAQ.rst
  docs/source/access_control.md
  docs/source/cc_service.md
  docs/source/commands/fabric-ca-commands.rst
  docs/source/orderer_deploy.md
  docs/source/smartcontract/smartcontract.md
  docs/source/tutorial/commercial_paper.md
Labels: docs

#573 [FAB-17421] Reword links to contract APIs and documentation
  docs/source/getting_started.rst
Labels: doc-merge, docs

#580 Cherry-pick #573 to release 2.0 [FAB-17421] Reword links to contract APIs and documentation
  docs/source/getting_started.rst
Labels: doc-merge

#588 What's New updates for v2.0.0 release
  docs/source/private-data/private-data.md
  docs/source/whatsnew.rst
Labels: doc-merge

#591 What's New updates for v2.0.0 release
  docs/source/private-data/private-data.md
  docs/source/whatsnew.rst
Labels: doc-merge

#542 [FAB-17381] Update policy concept for test network
  docs/source/policies/policies.md
Labels: doc-merge

#604 [FAB-17424] Fix broken link in DevApps connection profile
  docs/source/developapps/connectionprofile.md
Labels: doc-merge, docs

#611 Remove link for node SDK tutorial
  docs/source/chaincode4noah.md
Labels: doc-merge

#590 [FABCN-378] Update links to chaincode JSDoc
  docs/source/build_network.rst
  docs/source/chaincode4ade.rst
  docs/source/conf.py
  docs/source/developapps/chaincodenamespace.md
  docs/source/developapps/smartcontract.md
  docs/source/developapps/transactioncontext.md
  docs/source/developapps/transactionhandler.md
  docs/source/getting_started.rst
  docs/source/tutorial/commercial_paper.md
  docs/source/write_first_app.rst
Labels: doc-merge, docs

#589 [FABCN-378] Update links to chaincode JSDoc
  docs/source/build_network.rst
  docs/source/chaincode4ade.rst
  docs/source/conf.py
  docs/source/developapps/chaincodenamespace.md
  docs/source/developapps/smartcontract.md
  docs/source/developapps/transactioncontext.md
  docs/source/developapps/transactionhandler.md
  docs/source/getting_started.rst
  docs/source/tutorial/commercial_paper.md
  docs/source/write_first_app.rst
Labels: doc-merge, docs

#616 [FAB-17381] Update policy concept for test network
  docs/source/policies/policies.md
Labels: doc-merge, docs

#614 Policies topic link fix
  docs/source/policies/policies.md
Labels: doc-merge, docs
