Repository hyperledger/fabric, pull requests merged in 2021-01, with the labels that each got.

#2208 Even more edits to docs for participation API
  docs/source/capability_requirements.rst
  docs/source/config_update.md
  docs/source/configtx.rst
  docs/source/membership/membership.md
  docs/source/msp.rst
  docs/source/raft_configuration.md
  docs/source/updating_capabilities.md
Labels: docs

#2239 Minor create channel doc typos
  docs/source/create_channel/create_channel.md
  docs/source/create_channel/create_channel_participation.md
  docs/source/raft_configuration.md
Labels: doc-merge, docs

#2242 Add more details to logging specification examples
  docs/source/logging-control.rst
Labels: docs

#2246 Split command in "add an org to network" tutorial
  docs/source/channel_update_tutorial.rst
Labels: doc-merge, docs

#2243 Update "add an org" tutorial to not use CLI
  docs/source/channel_update_tutorial.rst
  docs/source/create_channel/create_channel.md
Labels: doc-merge, docs

#2256 Cherry pick org3 edits to release-2.2 branch
  docs/source/channel_update_tutorial.rst
Labels: docs

#2257 Remove anchor peers from configtx.yaml tutorial
  docs/source/create_channel/create_channel_config.md
Labels: docs

#2264 [FAB-18252] Documentation should reference Java chaincode support
  docs/source/blockchain.rst
Labels: doc-merge, docs

#2262 [FAB-18392] Clarify scope and limitations of test network
  docs/source/test_network.md
Labels: docs

#2268 [FAB-18170] Endorsement policy page discusses NodeSDK
  docs/source/endorsement-policies.rst
Labels: docs

#2263 Raft configuration doc issue after mergify backport (release-2.3)
  docs/source/raft_configuration.md
Labels: docs

#2279 Revert "Minor create channel doc typos" backport
  docs/source/create_channel/create_channel.md
  docs/source/create_channel/create_channel_participation.md
  docs/source/raft_configuration.md
Labels: doc-merge

#2282 Minor create channel doc typos (release-2.3)
  docs/source/create_channel/create_channel.md
  docs/source/create_channel/create_channel_participation.md
  docs/source/raft_configuration.md
Labels: doc-merge, docs

#2288 Orderer deployment tutorial update
  docs/source/deployorderer/ordererdeploy.md
Labels: doc-merge, docs

#2300 cherry pick test network doc chaincode deployment fix
  docs/source/test_network.md
Labels: docs

#2301 cherry pick test network doc chaincode deployment fix
  docs/source/test_network.md
Labels: docs

#1678 [FAB-15648] hints to document: Non-TLS orderer with etcdraft usage
  docs/source/raft_configuration.md
Labels: docs

#2302 Remove system channel from Test Network tutorial
  docs/source/test_network.md
Labels: docs

#2283 Participation edits to network concept doc
  docs/source/network/network.diagram.1.png
  docs/source/network/network.diagram.10.png
  docs/source/network/network.diagram.11.png
  docs/source/network/network.diagram.12.png
  docs/source/network/network.diagram.14.png
  docs/source/network/network.diagram.15.png
  docs/source/network/network.diagram.2.1.png
  docs/source/network/network.diagram.2.png
  docs/source/network/network.diagram.3.png
  docs/source/network/network.diagram.4.png
  docs/source/network/network.diagram.5.png
  docs/source/network/network.diagram.6.png
  docs/source/network/network.diagram.7.png
  docs/source/network/network.diagram.8.png
  docs/source/network/network.diagram.9.png
  docs/source/network/network.md
Labels: docs

#2326 Test network does not work with latest Docker
  docs/source/prereqs.rst
  docs/source/test_network.md
Labels: docs

#2316 Fabric v2.2 Add test network download instructions to create a channel tutorial
  docs/source/create_channel/create_channel.md
  docs/source/test_network.md
Labels: docs
