Repository hyperledger/fabric, pull requests merged in 2021-06, with the labels that each got.

#2659 Fix link in orderer deployment guide in main
  docs/source/deployorderer/ordererplan.md
Labels: doc-merge

#2667 [FAB-18490] Link fixes detailed in FAB-18490
  docs/source/advice_for_writers.md
  docs/source/capabilities_concept.md
  docs/source/config_update.md
  docs/source/create_channel/create_channel_config.md
  docs/source/create_channel/create_channel_test_net.md
  docs/source/developapps/gateway.md
  docs/source/developapps/transactionhandler.md
  docs/source/developapps/wallet.md
  docs/source/kafka_raft_migration.md
  docs/source/secured_asset_transfer/secured_private_asset_transfer_tutorial.md
  docs/source/tutorial/commercial_paper.md
Labels: docs

#2670 [FAB-18487] Update broken link in 2.2 branch
  docs/source/advice_for_writers.md
  docs/source/config_update.md
  docs/source/create_channel/create_channel.md
  docs/source/developapps/gateway.md
  docs/source/developapps/transactionhandler.md
  docs/source/kafka_raft_migration.md
  docs/source/policies/policies.md
  docs/source/secured_asset_transfer/secured_private_asset_transfer_tutorial.md
  docs/source/tutorial/commercial_paper.md
Labels: doc-merge

#2676 [FAB-18489] fix links in 2.1 release docs
  docs/source/advice_for_writers.md
  docs/source/config_update.md
  docs/source/create_channel/create_channel.md
  docs/source/developapps/connectionprofile.md
  docs/source/developapps/gateway.md
  docs/source/developapps/transactionhandler.md
  docs/source/developapps/wallet.md
  docs/source/kafka_raft_migration.md
  docs/source/policies/policies.md
  docs/source/style_guide.md
  docs/source/tutorial/commercial_paper.md
Labels: doc-merge, docs

#2677 [FAB-18492] Fix broken links in the 2.0 release docs
  docs/source/config_update.md
  docs/source/deploypeer/peerdeploy.md
  docs/source/developapps/connectionprofile.md
  docs/source/developapps/gateway.md
  docs/source/developapps/transactionhandler.md
  docs/source/developapps/wallet.md
  docs/source/kafka_raft_migration.md
  docs/source/ledger/ledger.md
  docs/source/policies/policies.md
  docs/source/tutorial/commercial_paper.md
Labels: doc-merge

#2691 Cherry pick deploy CC fixes to main branch
  docs/source/deploy_chaincode.md
Labels: doc-merge, docs

#2692 Cherry pick deploy CC fixes into release-2.2
  docs/source/deploy_chaincode.md
Labels: doc-merge, docs

#2689 Clarify orderers seeing the transaction data
  docs/source/Fabric-FAQ.rst
Labels: docs
